<h1 align="center">You've Arrived!</h1>
<p align="center">Good things happen here. </p>

<br><br>
<br><br>
<hr>
<br><br>
<br><br>

<table align="center">
	<tr>
		<td style="border-right:solid;">

			<h1 align="center">Tracked Things</h1>
			<div align="center"><%= link_to 'New Tracked Thing', new_tracked_thing_path%></div>

			<table>
			  <thead>
			    <tr>
			      <th>Time of thing</th>
			      <th>Notes</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @tracked_things.each do |tracked_thing| %>
			      <tr>
			        <td><%= tracked_thing.time_of_thing %></td>
			        <td><%= tracked_thing.notes %></td>
			        <td><%= link_to 'Show', tracked_thing %></td>
			        <td><%= link_to 'Edit', edit_tracked_thing_path(tracked_thing) %></td>
			        <td><%= link_to 'Destroy', tracked_thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>

		</td>
		<td>
			<h1 align="center">Logged Things</h1>
			<div align="center"><%= link_to 'New Logged Thing', new_tracked_thing_path%></div>

			<table>
			  <thead>
			    <tr>
			      <th>Time of thing</th>
			      <th>Notes</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @tracked_things.each do |tracked_thing| %>
			      <tr>
			        <td><%= tracked_thing.time_of_thing %></td>
			        <td><%= tracked_thing.notes %></td>
			        <td><%= link_to 'Show', tracked_thing %></td>
			        <td><%= link_to 'Edit', edit_tracked_thing_path(tracked_thing) %></td>
			        <td><%= link_to 'Destroy', tracked_thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			
		</td>
	</tr>
</table>



<br><br>
<br><br>
<hr>
<br><br>
<br><br>




